// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** Custom CSS Variables **/
  /** primary-red **/
  --ion-color-primary-red: #F2264B;
	--ion-color-primary-red-rgb: 242,38,75;
	--ion-color-primary-red-contrast: #ffffff;
	--ion-color-primary-red-contrast-rgb: 255,255,255;
	--ion-color-primary-red-shade: #d52142;
	--ion-color-primary-red-tint: #f33c5d;

  /** primary-black **/
	--ion-color-primary-black: #000000;
	--ion-color-primary-black-rgb: 0,0,0;
	--ion-color-primary-black-contrast: #ffffff;
	--ion-color-primary-black-contrast-rgb: 255,255,255;
	--ion-color-primary-black-shade: #000000;
	--ion-color-primary-black-tint: #1a1a1a;

  /** primary-dark **/
	--ion-color-primary-dark: #313140;
	--ion-color-primary-dark-rgb: 49,49,64;
	--ion-color-primary-dark-contrast: #ffffff;
	--ion-color-primary-dark-contrast-rgb: 255,255,255;
	--ion-color-primary-dark-shade: #2b2b38;
	--ion-color-primary-dark-tint: #464653;

  /** primary-grey **/
	--ion-color-primary-grey: #B7B7C8;
	--ion-color-primary-grey-rgb: 183,183,200;
	--ion-color-primary-grey-contrast: #000000;
	--ion-color-primary-grey-contrast-rgb: 0,0,0;
	--ion-color-primary-grey-shade: #a1a1b0;
	--ion-color-primary-grey-tint: #bebece;

  /** primary-silver **/
	--ion-color-primary-silver: #F8F8F8;
	--ion-color-primary-silver-rgb: 248,248,248;
	--ion-color-primary-silver-contrast: #000000;
	--ion-color-primary-silver-contrast-rgb: 0,0,0;
	--ion-color-primary-silver-shade: #dadada;
	--ion-color-primary-silver-tint: #f9f9f9;

  /** primary-white **/
	--ion-color-primary-white: #FFFFFF;
	--ion-color-primary-white-rgb: 255,255,255;
	--ion-color-primary-white-contrast: #000000;
	--ion-color-primary-white-contrast-rgb: 0,0,0;
	--ion-color-primary-white-shade: #e0e0e0;
	--ion-color-primary-white-tint: #ffffff;
}