@font-face {
  font-family: "Gilroy Semi-bold";
  src: url("../../../assets/fonts/gilroy-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Heavy";
  src: url("../../../assets/fonts/gilroy-heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Bold";
  src: url("../../../assets/fonts/gilroy-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Medium";
  src: url("../../../assets/fonts/gilroy-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Regular";
  src: url("../../../assets/fonts/gilroy-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.ion-page {
  background-color: #000;
}

.wrapper {
  position: absolute;
  align-self: center;
  max-width: 375px;
}

.wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0,0,0,1) 98%);
  z-index: 0;
}

ion-header {
  .app-bar {
    ion-toolbar {
      --background: transparent;
      height: 64px;
  
      ion-buttons {
        max-width: 375px;
        margin: auto auto;
        padding: 0 24px;

        ion-icon {
          width: 20px;
          height: 12.48px;
          margin: auto 0;
          margin-right: auto;
          
          filter: invert(98%) sepia(0%) saturate(0%) hue-rotate(25deg) brightness(103%) contrast(103%);
        }
      }
    }
  }
}

ion-content {
  --background: transparent;

  .head {
    margin-top: 228px;
    max-width: 375px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 24px;

    ion-card-subtitle {
      font-family: "Gilroy Medium";
      color: #FFF;
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 8px;
      opacity: 75%;
    }

    ion-card-title {
      font-family: "Gilroy Heavy";
      color: #FFF;
      font-weight: 900;
      font-size: 40px;
      line-height: 100%;
      max-width: 155px;
    }
  }

  .info {
    margin-top: 48px;
    max-width: 375px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 24px;

    .info-list {
      height: 48px;

      .swiper {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .swiper-slide {
          width: 60px;
          height: 48px;

          .container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
    
            ion-icon {
              height: 20px;
              filter: invert(98%) sepia(0%) saturate(0%) hue-rotate(25deg) brightness(103%) contrast(103%);
            }

            ion-card-subtitle {
              font-family: "Gilroy Medium";
              color: #FFF;
              font-weight: 500;
              font-size: 12px;
              line-height: 100%;
              margin-bottom: 2px;
            }
          }
        }
      }
    }

    .info-container {
      margin-top: 24px;

      ion-card-content {
        padding: 0;
        font-family: "Gilroy Medium";
        color: #FFF;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        opacity: 75%;
      }
    }
  }

  .abilities {
    margin-top: 32px;
    max-width: 375px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 24px;

    ion-card-title {
      font-family: "Gilroy Bold";
      color: #FFF;
      font-weight: 700;
      font-size: 18px;
      line-height: 100%;
    }

    .abilities-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      margin-top: 24px;
      width: 375px;
      height: 156px;
      margin-right: auto;
      margin-left: auto;
      padding-right: 48px;

      .attribute {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        ion-card-subtitle {
          font-family: "Gilroy Regular";
          color: #FFF;
          font-weight: 400;
          font-size: 12px;
          line-height: 100%;
          opacity: 75%;
        }

        .stats {
          width: 214px;
          height: 12px;
          background-color: aqua;
        }
      }
    }
  }

  .movies {
    margin-top: 32px;
    margin-bottom: 48px;
    max-width: 375px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 24px;

    ion-card-title {
      font-family: "Gilroy Bold";
      color: #FFF;
      font-weight: 700;
      font-size: 18px;
      line-height: 100%;
    }

    .swiper {
      margin-top: 24px;
      
      .swiper-slide {
        width: 153px;
        height: 230px;
        padding-right: 16px;
        
        .img-container {
          width: 100%;
          height: 100%;
          display: flex;
          justify-items: center;
          align-items: center;

          img {
            border-radius: 16px;
          }
        }
      }
    }
  }
}