<div class="wrapper">
  <img *ngIf="character.imagePath" class="img-background" [src]="getImg(character.imagePath)" alt="">
</div>

<ion-header class="ion-no-border">
  <div class="app-bar">
    <ion-toolbar>
      <ion-buttons>
        <ion-icon src="../../../assets/icons/back.svg" (click)="goTo('home')"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div class="head">
    <ion-card-subtitle>{{ character.alterEgo }}</ion-card-subtitle>
    <ion-card-title>{{ character.name }}</ion-card-title>
  </div>

  <div class="info">
    <div class="info-list">
      <swiper [config]="iconSlideOptions">
        <ng-template swiperSlide *ngFor="let item of icons">
          <div class="container">
            <ion-icon [src]="item.path"></ion-icon>
            <ion-card-subtitle>{{ item.content }}</ion-card-subtitle>
          </div>
        </ng-template>
      </swiper>
    </div>

    <div class="info-container">
      <ion-card-content>{{ character.biography }}</ion-card-content>
    </div>
  </div>
</ion-content>