<ion-header class="ion-no-border">
  <ion-toolbar translucent>
    <ion-buttons>
      <ion-icon src="../../../assets/icons/back.svg" (click)="goTo('home')"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="wrapper">
    <img *ngIf="character.imagePath" class="img-background" [src]="getCharImg(character.imagePath)" alt="">
  </div>

  <div class="head">
    <ion-card-subtitle>{{ character.alterEgo }}</ion-card-subtitle>
    <ion-card-title>{{ character.name }}</ion-card-title>
  </div>

  <div class="info">
    <div class="info-list">
      <swiper [config]="iconSlideOptions">
        <ng-template swiperSlide *ngFor="let item of icons">
          <div class="container">
            <ion-icon [src]="item.path"></ion-icon>
            <ion-card-subtitle>{{ item.content }}</ion-card-subtitle>
          </div>
        </ng-template>
      </swiper>
    </div>

    <div class="info-container">
      <ion-card-content>{{ character.biography }}</ion-card-content>
    </div>
  </div>

  <div class="abilities">
    <ion-card-title>Habilidades</ion-card-title>

    <div class="abilities-container">
      <div class="attribute" *ngFor="let item of attributes">
        <ion-card-subtitle>{{ item.name }}</ion-card-subtitle>

        <ion-list class="stats">
          <div *ngFor="let point of stats; let i = index">
            <ng-container *ngIf="i > item.formatted; else second">
              <ion-item class="unmarked"></ion-item>
            </ng-container>

            <ng-template #second>
              <ng-container *ngIf="i === item.formatted; else third">
                <ion-item class="matched"></ion-item>
              </ng-container>
            </ng-template>

            <ng-template #third>
              <ion-item class="marked"></ion-item>
            </ng-template>
          </div> 
        </ion-list>
      </div>
    </div>
  </div>

  <div class="movies">
    <ion-card-title>Filmes</ion-card-title>

    <swiper [config]="MovieSlideOptions">
      <ng-template swiperSlide *ngFor="let movie of movies">
        <div class="img-container">
          <img [src]="getMovieImg(movie)">
        </div>
      </ng-template>
    </swiper>
  </div>
</ion-content>