<ion-header class="ion-no-border">
  <div class="appBar">
    <ion-toolbar>
      <ion-buttons>
        <ion-icon src="../../assets/icons/menu.svg"></ion-icon>
  
        <img src="../../assets/icons/marvel.svg" alt="">
  
        <ion-icon src="../../assets/icons/search.svg"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div class="head">
    <ion-card-subtitle>Bem vindo ao Marvel Heroes</ion-card-subtitle>
    <ion-card-title>Escolha o seu personagem</ion-card-title>
  </div>
</ion-content>