ion-header {
  ion-toolbar {
    --min-height: 100px;

    ion-buttons {
      padding: 0 2.5%;
      
      ion-button {
        vertical-align: middle;
      }
      
      img {
        vertical-align: middle;
        margin: auto auto;

        filter: invert(12%) sepia(86%) saturate(6368%) hue-rotate(353deg) brightness(104%) contrast(86%);
      }
    }
  }
}