<ion-header class="ion-no-border">
  <div class="app-bar">
    <ion-toolbar>
      <ion-buttons>
        <ion-icon src="../../assets/icons/menu.svg"></ion-icon>
  
        <img src="../../assets/icons/marvel.svg" alt="">
  
        <ion-icon src="../../assets/icons/search.svg"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div class="head">
    <ion-card-subtitle>Bem vindo ao Marvel Heroes</ion-card-subtitle>
    <ion-card-title>Escolha o seu personagem</ion-card-title>
  </div>

  <div class="categories">
    <ion-toolbar>
      <ion-slides [options]="iconSlideOptions">
        <ion-slide *ngFor="let category of iconCategories">
          <div class="container" [style.background]="category.color">
            <ion-icon [src]="category.icon"></ion-icon>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-toolbar>
  </div>

  <div class="lists">
    <ion-toolbar *ngFor="let character of characters ; let i = index">
      <div class="title-container">
        <ion-card-title>{{categories[i].name}}</ion-card-title>
        <ion-card-subtitle>Ver tudo</ion-card-subtitle>
      </div>
      <ion-slides [options]="slideOptions">
        <ion-slide *ngFor="let char of character">
          <div class="img-container" (click)="go('characters/',char.id)">
            <img [src]="getUrl('../assets/chars/',char.imagePath)" alt="">
            <div class="text-container">
              <ion-card-subtitle>{{char.alterEgo}}</ion-card-subtitle>
              <ion-card-title>{{char.name}}</ion-card-title>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-toolbar>
  </div>
</ion-content>