@font-face {
  font-family: "Gilroy Semi-bold";
  src: url("../../assets/fonts/gilroy-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Heavy";
  src: url("../../assets/fonts/gilroy-heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

ion-header {
  .appBar {
    ion-toolbar {
      height: 64px;
  
      ion-buttons {
        padding: 0 6.93%;

        ion-icon {
          width: 20px;
          height: 15px;
        }
        
        img {
          width: 71px;
          height: 26px;
          vertical-align: middle;
          margin: auto auto;
        }
      }
    }
  }
}

ion-content {
  .head {
    margin-top: 24px;
    padding: 0 6.93%;

    ion-card-subtitle {
      font-family: "Gilroy Semi-bold";
      color: #B7B7C8;
      font-weight: 600;
      font-size: 14px;
      margin-bottom: 8px;
    }
    ion-card-title {
      font-family: "Gilroy Heavy";
      color: #313140;
      font-weight: 900;
      font-size: 32px;
      line-height: 100%;
    }
  }
}